<footer id="footer" class="max-container">
  <div
    class="flex justify-between items-start gap-20 flex-wrap max-lg:flex-col"
  >
    <div class="flex flex-col items-start">
      <a href="/"
        ><img
          src="/assets/images/footer-logo.svg"
          alt="footer logo"
          width="150px"
          class="m-0"
      /></a>
      <p
        class="font-montserrat text-white-400 mt-6 text-base leading-7 sm:max-w-sm"
      >
        Get shoes ready for the new term at your nearest Nike store. Find Your
        perfect Size In Store. Get Rewards
      </p>
      <div class="flex gap-5 mt-8 text-center">
        <div
          class="flex justify-center items-center w-12 h-12 bg-white rounded-full"
        >
          <img src="/assets/icons/facebook.svg" alt="" width="24px" />
        </div>

        <div
          class="flex justify-center items-center w-12 h-12 bg-white rounded-full"
        >
          <img src="/assets/icons/twitter.svg" alt="" width="24px" />
        </div>

        <div
          class="flex justify-center items-center w-12 h-12 bg-white rounded-full"
        >
          <img src="/assets/icons/instagram.svg" alt="" width="24px" />
        </div>
      </div>
    </div>

    <div class="flex flex-1 justify-between lg:gap-10 gap-20 flex-wrap">
      <div>
        <h3
          class="font-montserrat text-white text-2xl font-medium leading-normal mb-6"
        >
          Products
        </h3>
        <ul>
          <li
            class="mt-3 font-montserrat text-base text-white-400 leading-normal hover:text-slate-gray"
          >
            Air Force 1
          </li>

          <li
            class="mt-3 font-montserrat text-base text-white-400 leading-normal hover:text-slate-gray"
          >
            Air Max 1
          </li>
          <li
            class="mt-3 font-montserrat text-base text-white-400 leading-normal hover:text-slate-gray"
          >
            Air Jordan 1
          </li>
          <li
            class="mt-3 font-montserrat text-base text-white-400 leading-normal hover:text-slate-gray"
          >
            Air Force 2
          </li>
          <li
            class="mt-3 font-montserrat text-base text-white-400 leading-normal hover:text-slate-gray"
          >
            Nike Waffle Racer
          </li>
          <li
            class="mt-3 font-montserrat text-base text-white-400 leading-normal hover:text-slate-gray"
          >
            Nike Cortez
          </li>
        </ul>
      </div>

      <div>
        <h3
          class="font-montserrat text-white text-2xl font-medium leading-normal mb-6"
        >
          Help
        </h3>
        <ul>
          <li
            class="mt-3 font-montserrat text-base text-white-400 leading-normal hover:text-slate-gray"
          >
            About us
          </li>

          <li
            class="mt-3 font-montserrat text-base text-white-400 leading-normal hover:text-slate-gray"
          >
            FAQs
          </li>
          <li
            class="mt-3 font-montserrat text-base text-white-400 leading-normal hover:text-slate-gray"
          >
            How it works
          </li>
          <li
            class="mt-3 font-montserrat text-base text-white-400 leading-normal hover:text-slate-gray"
          >
            Privacy policy
          </li>
          <li
            class="mt-3 font-montserrat text-base text-white-400 leading-normal hover:text-slate-gray"
          >
            Payment policy
          </li>
        </ul>
      </div>

      <div>
        <h3
          class="font-montserrat text-white text-2xl font-medium leading-normal mb-6"
        >
          Get in touch
        </h3>
        <ul>
          <li
            class="mt-3 font-montserrat text-base text-white-400 leading-normal hover:text-slate-gray"
          >
            customer@nike.com
          </li>

          <li
            class="mt-3 font-montserrat text-base text-white-400 leading-normal hover:text-slate-gray"
          >
            +92554862354
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="font-montserrat flex justify-between text-white-400 mt-24 max-sm:flex-col"
  >
    <p class="cursor-pointer flex justify-center items-center gap-2">
      <span class="text-2xl">&copy;</span> Copyright. All rights reserved.
    </p>
    <p class="cursor-pointer">Terms & Conditions</p>
  </div>
</footer>
