<header
  id="navbar"
  class="bg-white/0 padding-x py-8 fixed top-0 left-0 w-full z-50 transition-all duration-300"
>
  <nav class="flex justify-between items-center max-container">
    <a href="/">
      <img
        src="/assets/images/header-logo.svg"
        alt="Logo"
        width="130px"
        height="29px"
      />
    </a>
    <ul class="flex-1 flex justify-center items-center gap-16 max-lg:hidden">
      <li class="font-montserrat leading-normal text-lg text-slate-gray">
        <a href="">Home</a>
      </li>
      <li class="font-montserrat leading-normal text-lg text-slate-gray">
        <a href="">About Us</a>
      </li>
      <li class="font-montserrat leading-normal text-lg text-slate-gray">
        <a href="">Products</a>
      </li>
      <li class="font-montserrat leading-normal text-lg text-slate-gray">
        <a href="">Contact Us</a>
      </li>
    </ul>
    <div
      class="max-md:hidden flex gap-2 text-lg leading-normal font-medium font-montserrat max-lg:hidden wide:mr-24"
    >
      <a href="#">Sign in</a>
      <span>/</span>
      <a href="#">Explore now</a>
    </div>

    <div class="hidden max-lg:block">
      <img
        src="/assets/icons/hamburger.svg"
        alt="hamburger icon"
        width="25px"
        height="25px"
      />
    </div>
  </nav>
</header>
