<section
  id="about-us"
  class="flex justify-between items-center max-lg:flex-col-reverse gap-10 max-container w-full"
>
  <div class="flex-1 flex justify-center items-center">
    <img
      src="/assets/images/offer.svg"
      alt="offer image"
      class="object-contain"
    />
  </div>
  <div class="flex flex-1 flex-col">
    <h2 class="font-palanquin text-4xl capitalize font-bold">
      <span class="text-coral-red">Special </span> Offer
    </h2>
    <p class="mt-4 info-text">
      Embark on a shopping journey that redefines your experience with
      unbeatable deals. From premier selections to incredible savings, we offer
      unparalleled value that sets us apart.
    </p>

    <p class="mt-6 info-text">
      Navigate a realm of possibilities designed to fulfill your unique desires,
      surpassing the loftiest expectations. Your journey with us is nothing
      short of exceptional.
    </p>
    <div class="flex gap-4 mt-11">
      <button
        class="flex justify-center items-center gap-2 px-7 py-4 text-lg border font-montserrat leading-none bg-coral-red rounded-full text-white border-coral-red"
      >
        Shop now
        <img
          src="/assets/icons/arrow-right.svg"
          alt="right icon"
          class="ml-2 rounded-full h-5 w-5"
        />
      </button>

      <button
        class="px-7 py-4 text-lg border font-montserrat leading-none bg-white rounded-full text-slate-gray border-slate-gray"
      >
        Learn more
      </button>
    </div>
  </div>
</section>
