<section
  id="home"
  class="relative flex justify-center xl:flex-row flex-col gap-10 min-h-screen max-container"
>
  <div
    class="w-full relative xl:w-2/5 flex flex-col justify-center items-start max-xl:padding-x pt-28"
  >
    <p class="text-xl font-montserrat text-coral-red mb-10">
      Our Summer collections
    </p>
    <h1
      class="text-8xl max-sm:text-[72px] max-sm:leading-[80px] font-palanquin font-bold"
    >
      <span class="xl:bg-white xl:whitespace-nowrap relative z-10 pr-10"
        >The New Arrival</span
      >
      <br />
      <span class="text-coral-red mt-3 inline-block">Nike</span> Shoes
    </h1>
    <p
      class="font-montserrat text-lg text-slate-gray leading-8 mt-6 mb-14 sm:max-w-sm"
    >
      Discover stylish Nike arrivals, quality comfort, and innovation for your
      active life.
    </p>
    <button
      class="flex justify-center items-center gap-2 px-7 py-4 text-lg border font-montserrat leading-none bg-coral-red rounded-full text-white border-coral-red"
    >
      Shop now
      <img
        src="/assets/icons/arrow-right.svg"
        alt="right icon"
        class="ml-2 rounded-full h-5 w-5"
      />
    </button>
    <div class="flex justify-start items-start flex-wrap w-full mt-20 gap-16">
      <div>
        <p class="text-4xl font-palanquin font-bold">1k+</p>
        <p class="font-montserrat text-slate-gray leading-7">Brands</p>
      </div>
      <div>
        <p class="text-4xl font-palanquin font-bold">500+</p>
        <p class="font-montserrat text-slate-gray leading-7">Shops</p>
      </div>
      <div>
        <p class="text-4xl font-palanquin font-bold">250k+</p>
        <p class="font-montserrat text-slate-gray leading-7">Customers</p>
      </div>
    </div>
  </div>
  <div
    class="relative flex-1 flex justify-center items-center xl:min-h-screen max-xl:py-40 bg-primary bg-hero bg-cover bg-center"
  >
    <img
      src="/assets/images/big-shoe1.png"
      alt="big-shoe1 image"
      width="610px"
      height="500px"
      class="object-contain relative z-10"
    />
  </div>

  <div
    class="absolute flex gap-6 -bottom-8 right-[8%] max-md:top-[61%] max-md:right-[0%] max-md:hidden"
  >
    <div class="border-coral-red border-2 rounded-lg">
      <img
        src="/assets/images/big-shoe1.png"
        alt="big-shoe3.png"
        width="172px"
        class="bg-cover bg-card p-6 rounded-lg"
      />
    </div>
    <div class="rounded-lg">
      <img
        src="/assets/images/big-shoe2.png"
        alt="big-shoe2.png"
        width="172px"
        class="bg-cover bg-card p-6 rounded-lg"
      />
    </div>
    <div class="rounded-lg">
      <img
        src="/assets/images/big-shoe3.png"
        alt="big-shoe2.png"
        width="172px"
        class="bg-cover bg-card p-6 rounded-lg"
      />
    </div>
  </div>
</section>
