<section id="products" class="max-container max-sm:mt-12">
  <div class="flex flex-col justify-start gap-5">
    <h1 class="text-4xl font-palanquin font-bold">
      Our <span class="text-coral-red">Popular</span> Products
    </h1>
    <p class="font-montserrat text-slate-gray lg:max-w-lg mt-2">
      Experience top-notch quality and style with our sought-after selections.
      Discover a world of comfort, design, and value
    </p>
  </div>
  <div
    class="mt-16 grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-6"
  >
    <div class="flex flex-1 flex-col w-full max-sm:w-full">
      <img src="/assets/images/shoe4.svg" alt="big-shoe1.png" width="280px" />
      <div class="flex justify-start gap-2.5 mt-8">
        <img width="24px" src="/assets/icons/star.svg" alt="star icon" />
        <p class="text-slate-gray text-xl font-montserrat leading-normal">
          (4.5)
        </p>
      </div>
      <h3 class="mt-2 leading-normal font-semibold font-palanquin text-2xl">
        Nike Air Jordan-01
      </h3>
      <p
        class="mt-2 font-montserrat text-coral-red font-semibold text-2xl leading-normal"
      >
        $200.20
      </p>
    </div>

    <div class="flex flex-1 flex-col w-full max-sm:w-full">
      <img src="/assets/images/shoe5.svg" alt="big-shoe1.png" width="280px" />
      <div class="flex justify-start gap-2.5 mt-8">
        <img width="24px" src="/assets/icons/star.svg" alt="star icon" />
        <p class="text-slate-gray text-xl font-montserrat leading-normal">
          (4.5)
        </p>
      </div>
      <h3 class="mt-2 leading-normal font-semibold font-palanquin text-2xl">
        Nike Air Jordan-20
      </h3>
      <p
        class="mt-2 font-montserrat text-coral-red font-semibold text-2xl leading-normal"
      >
        $350.45
      </p>
    </div>

    <div class="flex flex-1 flex-col w-full max-sm:w-full">
      <img src="/assets/images/shoe6.svg" alt="big-shoe1.png" width="280px" />
      <div class="flex justify-start gap-2.5 mt-8">
        <img width="24px" src="/assets/icons/star.svg" alt="star icon" />
        <p class="text-slate-gray text-xl font-montserrat leading-normal">
          (4.5)
        </p>
      </div>
      <h3 class="mt-2 leading-normal font-semibold font-palanquin text-2xl">
        Nike Air Jordan-50
      </h3>
      <p
        class="mt-2 font-montserrat text-coral-red font-semibold text-2xl leading-normal"
      >
        $400.50
      </p>
    </div>

    <div class="flex flex-1 flex-col w-full max-sm:w-full">
      <img src="/assets/images/shoe7.svg" alt="big-shoe1.png" width="280px" />
      <div class="flex justify-start gap-2.5 mt-8">
        <img width="24px" src="/assets/icons/star.svg" alt="star icon" />
        <p class="text-slate-gray text-xl font-montserrat leading-normal">
          (4.5)
        </p>
      </div>
      <h3 class="mt-2 leading-normal font-semibold font-palanquin text-2xl">
        Nike Air Jordan-10
      </h3>
      <p
        class="mt-2 font-montserrat text-coral-red font-semibold text-2xl leading-normal"
      >
        $250.20
      </p>
    </div>
  </div>
</section>
