<section
  id="contact-us"
  class="max-container flex justify-between items-center max-lg:flex-col gap-10"
>
  <h3 class="font-palanquin text-4xl font-bold leading-[68px] lg:max-w-md">
    Sign Up for <span class="text-coral-red">Updates</span><br />
    & Newsletter
  </h3>

  <div
    class="lg:max-w-[40%] w-full flex items-center max-sm:flex-col gap-5 p-2.5 sm:border sm:border-slate-gray rounded-full"
  >
    <input type="text" placeholder="subscribe@nike.com" class="input" />
    <div>
      <button
        class="px-7 py-4 text-lg border font-montserrat leading-none bg-coral-red rounded-full text-white border-coral-red"
      >
        Sign Up
      </button>
    </div>
  </div>
</section>
