<section
  id="about-us"
  class="flex justify-between items-center max-lg:flex-col gap-10 max-container w-full"
>
  <div class="flex flex-1 flex-col">
    <h2 class="font-palanquin text-4xl capitalize font-bold lg:max-w-lg">
      We Provide You
      <span class="text-coral-red">Super</span>
      <br />
      <span class="text-coral-red">Quality</span> Shoes
    </h2>
    <p class="mt-4 lg:max-w-lg info-text">
      Ensuring premium comfort and style, our meticulously crafted footwear is
      designed to elevate your experience, providing you with unmatched quality,
      innovation, and a touch of elegance.
    </p>

    <p class="mt-6 lg:max-w-lg info-text">
      Our dedication to detail and excellence ensures your satisfaction
    </p>
    <div class="mt-11">
      <button
        class="px-7 py-4 text-lg border font-montserrat leading-none bg-coral-red rounded-full text-white border-coral-red"
      >
        View details
      </button>
    </div>
  </div>
  <div class="flex-1 flex justify-center items-center">
    <img
      src="/assets/images/shoe8.svg"
      alt="shoe8 image"
      class="object-contain"
    />
  </div>
</section>
